<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eco.mapper.ChargeMapper">
	<!-- 이번 달 가스요금 -->
	<select id="getGasCharge" resultType="com.eco.domain.UserTypeChargeDTO">
		<![CDATA[
		SELECT u.user_cd AS userCd, u.user_nm AS userNm, '가스' AS energyType, g.type AS usageType,
		SUM(us.gas_usage) AS usageAmount, g.charge AS unitCharge, SUM(us.gas_usage * g.charge) AS totalCharge
		FROM t_user u
		JOIN t_usage us ON u.user_cd = us.user_cd
		JOIN t_gas g ON us.gas_cd = g.gas_cd
		WHERE u.use_yn = 'Y' AND u.user_cd=(select user_cd from t_user where user_id = #{user_id}) 
		AND YEAR(gas_time) = YEAR(CURDATE()) 
		AND MONTH(gas_time) = MONTH(CURDATE())
		GROUP BY u.user_cd, u.user_nm, g.type, g.charge
		]]>
	</select>
	<!-- 이번 달 전기요금 -->
	<select id="getElecCharge" resultType="com.eco.domain.UserTypeChargeDTO">
      <![CDATA[
		SELECT u.user_cd AS userCd, u.user_nm AS userNm, '전기' AS energyType, e.type AS usageType,
		SUM(us.elec_usage) AS usageAmount, e.charge AS unitCharge, SUM(us.elec_usage * e.charge) AS totalCharge
		FROM t_user u
		JOIN t_usage us ON u.user_cd = us.user_cd
		JOIN t_elec e ON us.elec_cd = e.elec_cd
		WHERE u.use_yn = 'Y'AND u.user_cd=(select user_cd from t_user where user_id = #{user_id})
		AND YEAR(elec_time) = YEAR(CURDATE()) 
		AND MONTH(elec_time) = MONTH(CURDATE())
		GROUP BY u.user_cd, u.user_nm, e.type, e.charge
		]]>
	</select>
	<!-- 가스 상세 내역 -->
	<select id="getGasChargeDetail" resultType="com.eco.domain.UserTypeChargeDTO">
		<![CDATA[
		SELECT u.user_cd AS userCD, u.user_nm AS userNM, g.type AS usageType, g.charge AS unitCharge, gas_usage, gas_time 
		FROM t_user u
		JOIN t_usage us ON u.user_cd = us.user_cd
		JOIN t_gas g ON us.gas_cd = g.gas_cd
		WHERE u.use_yn = 'Y' AND u.user_cd=(select user_cd from t_user where user_id = #{user_id})
		]]>
	</select>
	<!-- 전기 상세 내역 -->
	<select id="getElecChargeDetail" resultType="com.eco.domain.UserTypeChargeDTO">
      <![CDATA[
		SELECT u.user_cd AS userCD, u.user_nm AS userNM, e.type AS usageType, e.charge AS unitCharge, elec_usage, elec_time 
		FROM t_user u
		JOIN t_usage us ON u.user_cd = us.user_cd
		JOIN t_elec e ON us.elec_cd = e.elec_cd
		WHERE u.use_yn = 'Y'AND u.user_cd=(select user_cd from t_user where user_id = #{user_id})
		]]>
	</select>
	<!-- INSERT -->
	<!-- UPDATE -->
	<!-- DELETE -->
</mapper>