<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eco.mapper.UserMapper">
	<!-- SELECT -->
	<!-- INSERT -->
	<insert id="userInsert">
		<![CDATA[
		INSERT INTO t_user(user_id, user_pw, user_nm) VALUES(#{user_id}, #{user_pw}, #{user_nm})
		]]>
	</insert>
	
	<!-- UPDATE -->
	<!-- DELETE -->
</mapper>